.search-wrapper {
    margin: auto auto;
    padding: 30px;
    width: 70%;
    gap:1%;
}

.form-wraper{
    background-color: #ffc107;
    height: 100px;
}

.card-img {
    object-fit: cover;
}

.card-info {
    width: 500px;
}

.breed-select {
    margin: 50px auto;
}

.form-select.form-select-lg {
    width: 500px; 
}

.card-img-top {
    height: 500px; 
    object-fit: cover;
}

.gallery{
    margin-top: 30px;
    gap: 30px;
}